<!doctype html>

<html>
<head>
	<link type="text/css" rel="stylesheet" href="../dist/newlifeindavie.gallery.css" />
</head>
<body>
	<div class="pure-g-r">
		<div class="galleria-menu pure-u-1-4">
			<div class="pure-form">
			    <fieldset>
			        <legend>Add a Flickr Set</legend>
			        <input class="add-url" type="text" placeholder="Set URL">
			        <button class="pure-button pure-button-primary add-set">Add</button>
			    </fieldset>
			</div>
			<ul>
				<li class="fullscreen"><span class="icon fullscreen"></span><a href="#">Fullscreen</a></li>
				<li><span class="icon camera"></span><a href="http://www.flickr.com/photos/101646885@N06/sets/72157635490225820/">Test Set</a></li>
				<li><span class="icon camera"></span><a href="http://www.flickr.com/photos/robof07/sets/72157624125160094/">LIVE!</a></li>
			</ul>
		</div>
		<div class="galleria-gallery pure-u-3-4">
		</div>
	</div>
	<script src="../dist/newlifeindavie.gallery.js"></script>
</body>
</html>