<!doctype html>

<html>
<head>
	<link type="text/css" rel="stylesheet" href="../dist/newlifeindavie.css" />
	<title>Ministries at New Life</title>
</head>
<body>
	<div class="content pure-g-r">
			<div class="header pure-u-1">
				<div id="menu-container" class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
					<a class="pure-menu-heading" href="">New Life</a>
					<!-- Small screen menu button -->
					<a href="#menu" class="menu-link">
				<span class="bar1"></span>
				<span class="bar2"></span>
				<span class="bar3"></span>
			</a>
					<ul id="menu-items" class="dropdown">
						<li>
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">About Us</a>
							<ul class="sub_menu">
								<li>
									<a href="#">What We Believe</a>
								</li>
								<li>
									<a href="#">Leadership</a>
								</li>
							</ul>
						</li>
						<li class="pure-menu-selected">
							<a href="#">Ministries</a>
							<ul class="sub_menu">
								<li>
									<a href="#">Children's Ministry</a>
								</li>
								<li>
									<a href="#">Crosswalk (Youth)</a>
								</li>
								<li>
									<a href="#">The Well (Young Adults)</a>
								</li>
								<li>
									<a href="#">Men's Ministry</a>
								</li>
								<li>
									<a href="#">Women's Ministry</a>
								</li>
								<li>
									<a href="#">Sunday School for All Ages</a>
								</li>
								<li>
									<a href="#">Missions</a>
								</li>
								<li>
									<a href="#">Every Family in the Word Every Day</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">Events</a>
							<ul class="sub_menu">
								<li>
									<a href="#">New Life's 20th Anniversary Celebration</a>
								</li>
								<li>
									<a href="#">Thanksgiving Pancake Breakfast</a>
								</li>
								<li>
									<a href="#">Wednesday Evening Bible Studies</a>
								</li>
								<li>
									<a href="#">Groundbreaking Celebration</a>
								</li>
								<li>
									<a href="#">Gold Rush: Vacation Bible School 2011</a>
								</li>
								<li>
									<a href="#">The Living Nativity</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">Media</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="pure-g-r">
				<div class="pure-u-1-16"> </div>
					<div class="pure-u-7-8">
						<div class="pure-g-r" id="logos">
							<div class="pure-u-1-12"></div>
							<div class="pure-u-1-4">
								<img class="ministry-logo"  src="http://www.newlifeindavie.com/page_attachments/0000/0217/CDG_Logo.png" alt="Children's Ministry Logo" />
							</div>
							<div class="pure-u-1-24"></div>
							<div class="pure-u-1-4">
								<img class="ministry-logo" src="http://www.newlifeindavie.com/images/youth.png" alt="Crosswalk Youth Logo" />
							</div>
							<div class="pure-u-1-24"></div>
							<div class="pure-u-1-4" style="vertical-align:middle">
								<img class="ministry-logo" src="http://www.newlifeindavie.com/images/welllogo.png" alt="The Well Young Adults Logo" />
							</div>
							<div class="pure-u-1-12"></div>
						</div>
						<div class="pure-g-r">
							<div class="pure-u-1-12"></div>
							<div class="pure-u-1-4">
								<h3>Children</h3>
								<p>Donec suscipit, risus vel venenatis ornare, nibh massa ultrices diam, a elementum
									metus felis sit amet eros. Phasellus pellentesque euismod massa sed pellentesque.</p>
							</div>
							<div class="pure-u-1-24"></div>
							<div class="pure-u-1-4">
								<h3>Youth</h3>
								<p>Donec suscipit, risus vel venenatis ornare, nibh massa ultrices diam, a elementum
									metus felis sit amet eros. Phasellus pellentesque euismod massa sed pellentesque.</p>
							</div>
							<div class="pure-u-1-24"></div>
							<div class="pure-u-1-4">
								<h3>Young Adults</h3>
								<p>Donec suscipit, risus vel venenatis ornare, nibh massa ultrices diam, a elementum
									metus felis sit amet eros. Phasellus pellentesque euismod massa sed pellentesque.</p>
							</div>
							<div class="pure-u-1-12"></div>
						</div>
						<div class="pure-g-r">
							<div class="pure-u-1-5"></div>
							<div class="pure-u-1-5">
								<img class="ministry-logo" src="http://www.easyvectors.com/assets/images/vectors/afbig/3de7460eabd79859c48c4d9a3258c604-mens-room-clip-art.jpg" alt="Men's Ministry" />
								<h3>Men</h3>
								<p>Donec suscipit, risus vel venenatis ornare, nibh massa ultrices diam, a elementum
									metus felis sit amet eros. Phasellus pellentesque euismod massa sed pellentesque.</p>
							</div>
							<div class="pure-u-1-5"></div>
							<div class="pure-u-1-5">
								<img class="ministry-logo" src="http://www.easyvectors.com/assets/images/vectors/afbig/1d33ae36e68cc5a34e634eef15fdb5f6-ladies-room-clip-art.jpg" alt="Women's Ministry" />
								<h3>Women</h3>
								<p>Donec suscipit, risus vel venenatis ornare, nibh massa ultrices diam, a elementum
									metus felis sit amet eros. Phasellus pellentesque euismod massa sed pellentesque.</p>
							</div>
							<div class="pure-u-1-5"></div>
						</div>
					</div>	
				<div class="pure-u-1-16"> </div>
			</div>
</div>

</body>

</html>