* {
	box-sizing: border-box;
}

body {
	font-family: 'Crimson Text', Georgia, Times, serif;
	font-style: normal;
	font-weight: 400;
	margin: 0 auto;
	line-height: 1.7em;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'VegurBold', Helvetica, Arial, sans-serif;
}

a {
	color: #C9BB55;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.header {
	font-family: 'VegurMedium';
}
.splash-subhead {
	font-family: 'VegurLight';
}
.pure-button {
	font-family: 'VegurRegular';
}

.padded {
	padding: 1em;
}
.header {
	margin: 0 0;
}
.header .pure-menu {
	padding: 0.5em;
}
.header .pure-menu li a:hover, .header .pure-menu li a:focus {
	background: #8BC541;
	color: #F6FAEF;
}
.header .pure-menu li.pure-menu-open>a {
	background: none;
	/*border: none;*/
	color: #F6FAEF;
}
.header .pure-menu .pure-menu-selected a {
	color: #F6FAEF;
}
.header .pure-menu .pure-menu-open {
	background-color: #8BC541;
}
.header .pure-menu a.pure-menu-heading {
	position: absolute;
	height: 54px;
	width: 6em;
	top: 0;
	left: 0;
	border-right: 3px solid #C9BB55;
	background: url('../src/img/favicon.ico') no-repeat center center, white;
}
.pure-menu ul.menu-items {
	margin-left: 6em;
}

#menu-container {
	z-index: 999 !important;
	background: #8BC541;
	border: 0;
}
body .primary-button {
	background: #8BC541;
	color: #F6FAEF;
}
.splash {
	margin: 3.4em auto 0;
	padding: 0 0.5em;
	background: #eee;
	border-bottom: 1px solid #D1E2BB;
}

.splash-main {
	box-shadow: 1px -3px 4px 0px #000;
	z-index: 0;
	background: url('img/bg.jpg');
	max-height: 600px;
	overflow: hidden;
	position: relative;
	max-width: calc(100% - 200px);
}
.splash-side {
	border-bottom: 1px solid #D1E2BB;
	padding: 0;
	color: #969696;
	background: #393836;
	min-width: 200px;
}
.splash .splash-head {
	font-size: 300%;
	margin: 0em 0;
	line-height: 1.2em;
}
.splash .splash-subhead {
	color: #000;
	font-weight: 200;
	line-height: 1.4em;
	padding-left: 0.5em;
}
.splash .primary-button {
	font-size: 150%;
	margin: 1.1em 0;
	padding: 0.5em 0;
	display: block;
}

.splash-info {
	max-width: 800px;
	margin: 0 auto;
}
.splash-info .pure-u-1-5 {
	min-width: 160px;
}
.splash-info .pure-u-4-5 {
	max-width: calc(100% - 160px);
}

.splash-card {
	margin-bottom: 15px;
}

.splash-card h3 {
	font-weight: 200;
	color: #FEFEFE;
	background: #292929;
	margin: 0;
	padding: 0.5em 1em;
	border-bottom: 2px solid #C9BB55;
}
.splash-card-content {
	padding: 0.5em 1em;
}

.content {
	background: #F5F5F5;
}
.content .content-subhead {
	color: #999;
	padding-bottom: 0.3em;
	text-transform: uppercase;
	margin: 0;
	border-bottom: 2px solid #eee;
	display: inline-block;
}
.content .content-ribbon {
	margin: 3em;
	border-bottom: 1px solid #eee;
}
.ribbon {
	background: #eee;
	text-align: center;
	padding: 2em;
	color: #999;
}
.ribbon h2 {
	display: inline;
	font-weight: normal;
}
.footer {
	background: #111;
	color: #666;
	text-align: center;
	padding: 1em;
	font-size: 80%;
	line-height: 1.5em;
}
.roundabout-holder {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 350px;
	width: 48%;
	display: inline-block;
}
.roundabout-moveable-item {
	height: 300px;
	width: 500px;
	cursor: pointer;
	background-color: #ccc;
	border: 1px solid #999;
}
.roundabout-in-focus {
	cursor: auto;
}

.schedule-table td+td {
	padding-left: 6px;
}
.schedule-table td {
	padding: 6px 0px;
	color: #969696;
}
.schedule-table>tr>td {
	padding-right: 30px;
}
.schedule-table td div {
	border: 1px solid #969696;
	border-radius: 12px;
	text-align: center;
	padding: 1px 6px;
}
#map_canvas {
	width: 100%;
	height: 165px;
}

@media (max-width: 767px) {
	.splash-info .primary-button,
	.splash-info .splash-subhead {
		margin: 0.3em 0;
	}
	.splash-side {
		margin: 0;
	}
	.splash-main {
		box-shadow: 1px 1px 4px 0px #000; /* move shadow below */
		border: 0;
	}
}

/**
 * Utility
 */
.util-center {
	text-align: center;
}
.invisible {
	visibility: hidden;
}
.hide {
	display: none;
}
.arrow-down {
	display: inline-block;
	margin: 0 5px;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #F6FAEF;
	vertical-align: middle;
}
#map_canvas img {
	max-width: none !important;
}